docs/examples/sounds/800/.DS_Store
docs/examples/sounds/7000/.DS_Store
docs/examples/sounds/600/.DS_Store
docs/examples/sounds/3000/.DS_Store
docs/examples/sounds/1500/.DS_Store
docs/examples/sounds/1000/.DS_Store
